@charset "utf-8";

main{overflow: hidden;}
#m_intro{
    width: 100%; height: 100vh;
    background: #fff;
    overflow: hidden;
}
#m_intro > h2{display: none;}
#m_intro > article{position: absolute;}

#intro{
    position: relative;
}
#test{
    width: 1200px;
    margin: 0 auto;
    padding: 160px 0px 180px 0px;
}
#event{
    background-color: #f4f4f4;
    height: 750px;
}
#buy{
    padding: 50px 0px;
}
#cs{}