@charset "utf-8";

main{overflow: hidden;}
#m_intro{
    width: 100%; height: 100vh;
    background: #fff;
    overflow: hidden;
}
#m_intro > h2{display: none;}
#m_intro > article{position: absolute;}

#top3{}
#intro{}
#test{}
#event{}
#buy{}
#cs{}