@charset "utf-8";
/* 인트로 */
#m_intro article{
    position: absolute;
    width: 100%; top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    z-index: 100;
}
#m_intro article > h3{
    font-size: 60px;
    font-weight: bold;
}
#m_intro article > p{
    line-height: 80px;
    font-size: 18px;
}
#m_intro article > a{
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
    margin: 0 30px;
    padding: 5px 20px;
}
#m_intro article > a:first-of-type{
    background: rgb(79, 136, 243,.8);
    border: 1px solid #fff;
}
/* 아래로 이동하기 btn */
#next_btn{
    position: absolute;
    bottom: 40px; left: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 30px; height: 30px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(45deg);
    text-indent: -9999px;
}

/* 메인 타이틀 공통서식 */
section > h2{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding: 80px 0 0 10px;
    color: #000;
}
section > p{
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}

/* top3 */
.top3{
    padding: 40px 0;
    text-align: center;
    position: relative;
}

/* 슬라이드 좌우버튼 */
.swiper-pagination, .swiper-button-next, .swiper-button-prev{
    position: absolute;
}
.top3 .swiper-button-prev, .top3 .swiper-button-next{
    font-size: 1rem;
    top:40%;
}
.top3 .swiper-button-prev{
    left: 10%;
}
.top3 .swiper-button-next{
    right: 10%;
}

.top3 img{
    padding: 30px 0px;
}
.top3 .order em{
    color: #007fa8;
    border: 1px solid #007fa8;
    padding: 6px 18px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bolder;
    font-style: normal;
}
.order .title{
    display: block;
    font-size: 26px;
    color: #012c5f;
    padding-top: 20px;
}
.detail > ul{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.detail > ul >li{
    width: 240px;
    border-right: 1px solid #ccc;
    padding: 0 30px;
    font-size: 16px;
    line-height: 24px;
}
.detail > ul >li:last-child{border: none;}
.out_color, .inner_color{
    display: inline-block;
    width: 56px; height: 40px;
}
.out_color{
    background-color: rgb(71,73,61);
    float: left;
}
.inner_color{
    background-color: #000;
    float: left;
}
.detail .price{
    font-size: 32px;
    line-height: 60px;
    font-weight: bold;
    color: #012c5f;
}
.detail .price2{
    font-size: 16px;
    line-height: 50px;
    border: 1px solid #333;
    padding: 6px 40px;
    transition: 0.5s;
}
.detail .price2:hover{
    background:#012c5f;
    color:#fff;
    border:1px solid #012c5f !important;
  }
.swiper-slide:last-of-type img{
    width: 360px;
    margin: 40px 0px;
}
.swiper-slide:first-of-type .inner_color{
    background-color: rgb(157,157,130);
}
.swiper-slide:last-of-type .out_color{
    background-color: rgb(183,183,166);
}
